@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hxbxt7');
  src:  url('../fonts/icomoon.eot?hxbxt7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hxbxt7') format('truetype'),
    url('../fonts/icomoon.woff?hxbxt7') format('woff'),
    url('../fonts/icomoon.svg?hxbxt7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-building-o:before {
  content: "\e913";
}
.icon-mail-envelope-closed:before {
  content: "\e912";
}
.icon-check-circle:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e902";
}
.icon-letter:before {
  content: "\e902";
}
.icon-contact:before {
  content: "\e902";
}
.icon-phone_in_talk:before {
  content: "\e901";
}
.icon-googleplus:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-puzzle:before {
  content: "\e909";
}
.icon-screen:before {
  content: "\e903";
}
.icon-documents:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-browser:before {
  content: "\e906";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-arrow_right:before {
  content: "\e90f";
}
.icon-quotes-right:before {
  content: "\e978";
}
